

.form-container{
      border: royalblue; 
      padding: 50px 60px; 
      margin-top: 20%;
      margin-bottom: 20%;
      background-image: url(images/back.jpg);
      background-size: cover;
}
      
footer{
    
       width: 100%;
       background-color: gray;
       padding: 2%;
       color: whitesmoke;
                 
}
h4{
    color: #003333;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    margin: 2%;
 
}
.site-footer{
    background-color: gray;
    color: whitesmoke;
    margin-top: 30px;
    padding: 30px;
}
.bottom-footer{
    border-top: 1px;
    margin-top: 20px;
    
}
.login-page{
    padding: 10% 0 0;
    margin: auto;
     background-image: url(images/back.jpg);
    background-size: cover;
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    width: 100%;
    color: whitesmoke;
    background-color: #003300;
}
.form button:hover,.form button:active{
    background: #ccffcc;
}
.form .message{
    margin: 15px;
    color: aliceblue;
    font-size: 12px;
}
.form .message a{
    color: yellowgreen;
    text-decoration: none;
}
.form .register-form{
    display: none;
}
.form p{
    text-align: center;
}

